/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	#home {
		padding: 7em 0;
	}

	#home h1 {
		font-size: 2.5em;
	}

	#home p {
		font-size: 0.9em;
	}

	#carousel-participantes, #carousel-participantes .card, #carousel-noticias{
		width: 100%;
		height: 70%;
	}

	#carousel-noticias .carousel-caption h2 {
		font-size: 1.0rem;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	#home {
		padding: 7em 0;
	}

	#home h1 {
		font-size: 2.5em;
	}

	#home p {
		font-size: 0.9em;
	}

	#carousel-participantes, #carousel-participantes .card, #carousel-noticias{
		width: 100%;
		height: 70%;
	}

	#carousel-noticias .carousel-caption h2 {
		font-size: 1.0rem;
	}

	#carousel-noticias .carousel-caption p {
		font-size: 0.8rem;
	}

	#img-programa img{
		width: 13em;
		text-align: center;
	}

	
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	#home {
		padding: 7em 0;
	}

	#home h1 {
		font-size: 3.0em;
	}

	#home p {
		font-size: 1.1em;
	}

	#carousel-participantes, #carousel-participantes .card, #carousel-noticias{
		width: 100%;
		height: 70%;
	}

	#ranking{
		width: 100%;
		height: 90%;
		text-align: center;
	}

	#ranking li{
		list-style: none;
		margin-left: -1em;
		border-bottom: 1px solid #f0f0f0
	}

	#ranking h4 {
		font-size: 0.7em;
	}

	#ranking img {
		font-size: 0.7em;
	}

	#carousel-noticias .carousel-caption h2 {
		font-size: 1.5rem;
	}

	#carousel-noticias .carousel-caption p {
		font-size: 1.0rem;
	}

	#img-programa img{
		width: 17em;
		text-align: center;
	}

	.scroll {
		overflow-y: auto;
		height: 40.3em;
	}

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

	#home {
		padding: 16em 0;
	}

	#home h1 {
		font-size: 3.5em;
	}

	#home p {
		font-size: 1.3em;
	}

	#img-programa img{
		width: 23em;
	}

	#ranking{
		width: 100%;
		height: 91%;
		text-align: center;
	}

	#ranking h4 {
		font-size: 0.8em;
	}

	#ranking img {
		font-size: 0.7em;
	}

	.scroll {
		overflow-y: auto;
		height: 43.5em;
	}

}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	header {
		font-size: 1.3em;
	}

	#home {
		padding: 16em 0;
	}

	#home h1 {
		font-size: 3.5em;
	}

	#home p {
		font-size: 1.3em;
	}

	#participante .card {
		width: 25em;
	}

	#img-programa img{
		width: 27em;
	}

	.scroll {
		overflow-y: auto;
		height: 43.5em;
	}
}

@font-face{
	font-family: grooving;
	src: url(fonts/Aa.otf);
}

@font-face {
	font-family: biysk;
	src: url(fonts/Biysk.ttf);
}

@font-face {
	font-family: joy;
	src: url("fonts/Joy Kim.otf");
}

header {
	font-family: biysk, Helvetica,Arial,sans-serif;
	font-size: 1.4em;
}


body {
	background: url(../images/participantes.png),
				linear-gradient(90deg, #dc3545, #17a2b8);
	background-attachment: fixed;
}

ol li {
	font-size: 1.5em;
	font-family: grooving;
}


#programa, #como-jogar, #forum {
	background-color: #f8f9fa;
}

#programa, #participantes, #como-jogar, #noticias, #forum {
	padding: 1.5em 0 3.0em 0;
}

.nome{
	font-size: 3em;
}

.dinheiro {
	font-size: 1.2em;
}

#como-jogar i {
	font-size: 5em; 
	color: #B22222;
}

#carousel-noticias{
	width: 100%;
}


.footer {
	opacity: 0.7;
}

.divisor {
	width: 1px;
	margin: 12px 15px;
}

.carrossel{
	width: 25em;
}

.fundo-titulo {
	background: rgba(0,0,0,0.7);
	padding: 0 1em;
}

.nome-ranking {
	color: #17a2b8;
}

.eliminado {
	color: #6c757d;
}

.grayscale{
	filter: grayscale(100%);
}
